<div class="widget_1x1">
	{% image '@ScubeFriendsBundle/Resources/public/images/icon.png'	%}
	<img src="{{ asset_url }}" alt="Friends"/>
	{% endimage %}
	<br />
	<p class="widget_1x1_title">Friends</p>
</div>