{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}

{% block body %}
{{ parent() }}

<div class="Application">

	<div > <p> You have {{ user.getCalendar().getCalendarEventsToAccept()| length  }} event(s) to accept</p></div>
	<div id="event_accept">
		<form>
			<input type="hidden" />
			<ul>
				{% for event in user.getCalendar().getCalendarEventsToAccept() %}
				<li> 
				{{ event.getEvent().getTitle() }}
				<input type=submit>
				</li>
				{% endfor %}
			</ul>
		</form>		
	</div>
</div>





{% endblock %}