<li><a href="{{ path("ScubeAdminSystemBundle_homepage")}}">Maintenance</a></li>
<li><a href="{{ path("ScubeAdminSystemBundle_dbSettings")}}">Database Settings</a></li>
<li><a href="{{ path("ScubeAdminSystemBundle_mtnSettings")}}">Maintenance Settings</a></li>