form {
	margin:0 auto;
}

label {
	font-weight:bold;
	display:block;
	width:50%;
	height:25px;
	margin:0 auto;
}
input {
	display:block;
	width:50%;
	height:25px;
	margin:0 auto;
	margin-bottom:10px;
}

select {
	display:block;
	width:50%;
	height:25px;
	margin:0 auto;
	margin-bottom:10px;
}
select[multiple="multiple"] {
	display:block;
	width:50%;
	height:auto;
	margin:0 auto;
	margin-bottom:10px;
}
#form_Birthday {
	display:block;
	width:50%;
	height:25px;
	margin:0 auto;
	margin-bottom:10px;
}
#form_Birthday select {
	display:inline;
	width:31%;
	height:25px;
	margin:0 auto;
	margin-bottom:10px;
}

input[type="submit"] {
	background-color: #92b417;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
	color:white;
	font-weight:bold;
	font-size:16px;
	border:none;
	box-shadow: 0 1px 3px #999;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
}

/* Messages */

.form_error {
	color:#e43018;
	text-align:center;
}
.form_success {
	color:#7f9d21;
	text-align:center;
}

/* JQuery Checkboxes */
.jquery-checkbox       {display: inline; font-size: 20px; line-height: 20px; cursor: pointer; cursor: hand;}
.jquery-checkbox .mark {display: inline;}

.jquery-checkbox img {vertical-align: middle; width: 60px; height: 20px;}

.jquery-checkbox img{
	background-position: 0px 0px;
}
.jquery-checkbox-hover img{
	background-position: 0px -20px;
}
.jquery-checkbox-checked img{
	background-position: 0px -40px;
}
.jquery-checkbox-checked .jquery-checkbox-hover img {
	background-position: 0px -60px;
}

.jquery-checkbox-disabled img{
	background-position: 0px -80px;
}
.jquery-checkbox-checked .jquery-checkbox-disabled img{
	background-position: 0px -100px;
}