#Application_loader {
	display:none;
}
#Application_closer {
	display:none;
}

#Application_suspender {
	display:none;
}


.ApplicationFrame {
	position:absolute;
	display:none;
	background-color:white;
	box-shadow: 0 0 10px #555; 
	text-align:center;
	z-index:180;
}

.ApplicationFrame img {
	margin:5px;
}

.ApplicationFrame iframe {
	display:none;
	width:100%;
	height:100%;
	border:none;
}

.ApplicationClose {
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:24px;
	height:24px;
	margin:5px;
}
.ApplicationClose img {
	margin:0;
}

.ApplicationSuspend {
	display:block;
	position:relative;
	float:right;
	width:24px;
	height:24px;
	margin:5px;
}
.ApplicationSuspend img {
	margin:0;
}