<ul class="sidebar_navigation">
	<li><a href="{{ path("AdminAppsBundle_homepage")}}">Applications</a></li>
	<li><a href="{{ path("AdminAppsBundle_widget_homepage")}}">Widgets</a></li>
	<li><a href="{{ path("AdminAppsBundle_widget_install")}}">Install widget</a></li>
</ul>