<!DOCTYPE html>
<html>
    <head>
        <title>Scube</title>
    </head>
    <body>
		<form action="{{ path('ScubeManageFileBundle_pictures_upload') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}

			<input type="submit" />
		</form>
    </body>
</html>