<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>Clock Widget</title>

{% javascripts
	'@ScubeBaseBundle/Resources/public/js/jquery.1.7.1.js' 
    '@WidgetsClockBundle/Resources/public/js/coolclock.js' 
    '@WidgetsClockBundle/Resources/public/js/excanvas.js' 
	'@WidgetsClockBundle/Resources/public/js/moreskins.js' 
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<style>
body {
	text-align:center;
}
</style>

</head>
<body onload="CoolClock.findAndCreateClocks()">

<canvas style="width:100%;" id="c1" class="CoolClock:securephp"></canvas>

</body>
</html>