<div class="GridButton" >
	{% image '@WidgetsCalendarWidgetBundle/Resources/public/images/icon.png'	%}
	<img src="{{ asset_url }}" alt="Calendar"/>
	{% endimage %}
	<br />
	<p class="GridButton_title">{% trans %}Calendar{% endtrans %}</p>
</div>
