.Application {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	min-height:200px;
	/*padding:20px;*/
}

.Application h1 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-shadow:0px 1px 1px white;
	text-align:center;
	font-size:21px;
	color:#000;
	margin:25px 10px;
}

/* Application TABLE CONTENT */
.Application .table_content {
	width:100%;
}
.Application .table_content .sidebar_left{
	width:30%;
	margin-right:20px;
	vertical-align:top;
	background-color:#F1F1F1;
	border-right: 1px solid #c6c9ce;
}
.Application .table_content .sidebar_left .sidebar_navigation{
	font-family: Arial, sans-serif;
	width:100%;
	margin:0;
	padding:0;
	list-style-type:none;
}
.Application .table_content .sidebar_left .sidebar_navigation li {
	text-align:right;
	padding:10px 20px;
}
.Application .table_content .sidebar_left .sidebar_navigation li a{
	text-decoration:none;
	color:#333;
	text-shadow:0px 1px 1px white;
}

.Application .table_content .sidebar_main{
	/*width:70%;*/
	vertical-align:top;
}
.Application .table_content .sidebar_main h1{
	padding-bottom:10px;
	border-bottom:1px solid gray;
	margin:15px 10px;
	text-align:left;
}


/* Application TABLE */
.Application table td .table_title {
	text-align:left;
	font-size:18px;
	font-weight:500;
	color:#333;
}
.Application table td .table_text {
	text-align:left;
	font-size:13px;
	font-weight:500;
	color:#333;
}

.Application table td .table_full_size {
	width:100%;
}

.miniGridSelectorRed {
	width:24px;
	height:24px;
	background-color:#94211A;
}

.miniGridSelectorRed {
	width:36px;
	height:36px;
	background-color:#94211A;
}
.miniGridSelectorGray {
	width:36px;
	height:36px;
	background-color:whiteSmoke;
	cursor:pointer;
}
.miniGridSelectorHover {
	width:36px;
	height:36px;
	background-color:#8EB218;
}

