<ul class="sidebar_navigation">
	<li><a href="{{ path("AdminAppsBundle_homepage")}}">{% trans %}Applications{% endtrans %}</a></li>
	<li><a href="{{ path("AdminAppsBundle_widget_homepage")}}">{% trans %}Widgets{% endtrans %}</a></li>
</ul>