<div class="GridButton" >
	{% image '@WidgetsConnectionsWidgetBundle/Resources/public/images/icon.png'	%}
	<img src="{{ asset_url }}" alt="Connections"/>
	{% endimage %}
	<br />
	<p class="GridButton_title">Connections</p>
</div>
