<ul class="sidebar_navigation">
	<li><a href="{{ path("AdminUserBundle_homepage")}}">{% trans %}Users{% endtrans %}</a></li>
	<li><a href="{{ path("AdminUserBundle_groups")}}">{% trans %}Groups{% endtrans %}</a></li>
</ul>