input[type="submit"] {
background-color: #005e89;
}

.Application .table_content .sidebar_left .sidebar_navigation li a.active {
border-left: 5px solid #005e89;
}

.infos_frame .infos_title {
color: #005e89;
}

.button.green {
background-color: #90BEE5;
}