{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}




{% block body %}
{{ parent() }}


<div class="Application">
	<table class="table_content">
		<tr>
			<td class="sidebar_left">
				<ul class="sidebar_navigation">
				{% include 'ScubeAdminSystemBundle:Adminsystem:menu.html.twig' %}
				</ul>
			</td>
			<td class="sidebar_main">
				<h1>System Settings : Overview</h1>
					<div class="result_table" id="top_infos" style="padding-bottom: 15px;">
					<table class="table_full_size result_table">
						<tr>
							<td style="text-align: center; color: black; width: 25%">
								<div class="header-text" style="margin-left: 5px; margin-right: 5px; background-color: #94211A; border-radius: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center; color: white; font-weight: bold;">
										Use this application with caution. Unexperimented persons shouldn't modify those parameters.
								</div>
							</td>
						
							<td style="text-align: center; color: black; width: 50%;">
								
								<div style="margin-top: 10px; margin-bottom: 10px;">
									<div class="maintenance-state" style="margin-top: 15px; margin-left: 5px; margin-right: 5px; background-color: #D3D4D5; border-radius: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
										Current mode : <b> {{ mode }} </b>
									</div>
								</div>
								
							</td>
						</tr>
					</table>
				</div>
				
				<div class="head-msg" style="text-align: justify">
				
				{% if globalerror is defined and globalerror %}
					An error occured. It's seems that your maintenance mode file is not here or unreadable. Please verify
					that you can find it in %ROOT%/app/maintenance/mtn.scb (Put 1 char in it for maintenance mode or leave blank for online mode)
			
				
				{% elseif alreadyonline is defined and alreadyonline %}
					Your Scube is already online !
			
				
				{% elseif alreadyoffline is defined and alreadyoffline %}
					Your Scube is already offline !
			
				
				{% elseif passedonline is defined and passedonline %}
					Your Scube is now Online !
			
				
				{% elseif passedoffline is defined and passedoffline %}
					Your Scube is now Offline !
					
				{% endif %}
				
				</div>
					
					<div class="maintenance-buttons" style="margin-top: 15px; margin-left: 5px; margin-right: 5px; background-color: #D3D4D5; border-radius: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
						Maintenance Mode ON/OFF:</br>
						<a href="{{ path("ScubeAdminSystemBundle_switchMode", {'whichmode' : 'offline'}) }}" class="button red">Put Offline</a>
						<a href="{{ path("ScubeAdminSystemBundle_switchMode", {'whichmode' : 'online'}) }}" class="button green">Put Online</a>
					</div>
			</td>
		</tr>
	</table>
</div>



{% endblock %}
