{% extends 'ScubeBaseBundle:Base:core.application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		{% include 'ScubeAccountBundle:Account:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>Edit profile</h1>
		
		{% if success %}
			<p class="form_success">Your profile has been successfully updated.</p>
		{% endif %}
		<form action="{{ path('ScubeAccountBundle_edit_profile') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
		
			<input type="submit" value="Save profile" />
		</form>
	</td>
</tr>
</table>

</div>

{% endblock %}
