#Grid {
	position:relative;
	height:1500px;
}

.empty_cell {
	background-color:whiteSmoke;
	border-radius:5px;
	position:absolute;
}
.empty_cell_hover {
	background-color:#CCC;
	cursor:pointer;
}

.plain_cell {
	background-color:#333;
	border-radius:5px;
	position:absolute;
	box-shadow: 0 0 10px #555;
}

.cell_hover {
	background-color:#CCC;
	border-radius:5px;
	position:absolute;
}

.cell_fullscreen {
	position:absolute;
	/*float:right;*/
	right:0px;
	top:0;
	margin:5px;
	width:30px;
	height:30px;
}

.cell_remove {
	position:absolute;
	right:0px;
	top:0;
	margin:5px;
	width:36px;
	height:36px;
	cursor:pointer;
}

.cell_anchor {
	position:absolute;
	left:0px;
	top:0;
	margin:5px;
	width:36px;
	height:36px;
	cursor:pointer;
}