html, body, .Application {
	height:100%;
	overflow:hidden;
}

body {
	margin:0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a{
	color:#568dc5;
}
a:hover{
	color:#4878ac;
}

.Application {
}

.Application h1 {
	text-shadow:0px 1px 1px white;
	text-align:center;
	font-size:21px;
	color:#000;
	margin:25px 10px;
}

/* Application TABLE CONTENT */
.Application .table_content {
	height:100%;
	width:100%;
	border-collapse:collapse;
}
.Application .table_content .sidebar_left{
	width:30%;
	margin-right:20px;
	vertical-align:top;
	background-color:#F1F1F1;
	border-right: 1px solid #c6c9ce;
}
.Application .table_content .sidebar_left .sidebar_navigation{
	font-family: Arial, sans-serif;
	width:100%;
	margin:0;
	padding:0;
	list-style-type:none;
}
.Application .table_content .sidebar_left .sidebar_navigation li {
	text-align:right;
	padding:10px 20px;
}
.Application .table_content .sidebar_left .sidebar_navigation li a{
	text-decoration:none;
	color:#333;
	text-shadow:0px 1px 1px white;
}

.Application .table_content .sidebar_main{
	/*width:70%;*/
	vertical-align:top;
}
.Application .table_content .sidebar_main h1{
	padding-bottom:10px;
	border-bottom:1px solid gray;
	margin:15px 10px;
	text-align:left;
}


/* Application TABLE */
.Application table td .table_title {
	text-align:left;
	font-size:18px;
	font-weight:500;
	color:#333;
}
.Application table td .table_text {
	text-align:left;
	font-size:13px;
	font-weight:500;
	color:#333;
}

.Application table td .table_full_size {
	width:100%;
}

.miniGridSelectorRed {
	width:24px;
	height:24px;
	background-color:#94211A;
}

.miniGridSelectorRed {
	width:36px;
	height:36px;
	background-color:#94211A;
}
.miniGridSelectorGray {
	width:36px;
	height:36px;
	background-color:whiteSmoke;
	cursor:pointer;
}
.miniGridSelectorHover {
	width:36px;
	height:36px;
	background-color:#8EB218;
}

/* = TABLES / Special design
 * ========================================================= */
table.result_table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 2px solid #fff;
} 

table.result_table tbody tr:nth-child(2n+1) {
	background: none repeat scroll 0 0 #eff0f1;
}

table.result_table th, table.result_table td {
	padding: 0px 5px 0px 15px;
	line-height: 34px;
	text-align: left;
	vertical-align: middle;
	border-right: 2px solid #fff;
}

table.result_table td {
	color: #939598;
}

table.result_table thead {
	background: none repeat scroll 0 0 #333;
}

table.result_table thead th {
	border-bottom: 2px solid #fff;
	color: #fff;
	font-size: 14px;
}

table.result_table thead th:last-child {
	border-right: none;
}

thead.table-head-color-1 {
	background-color: #57692f;
}

thead.table-head-color-2 {
	background-color: #929e78;
}

p.result_table {
	margin-left:2px;
}

div.result_table_scroll {
	overflow-y:scroll;
}

/* #BUTTONS
 * ===================================================================== */
.buttons {
	padding: 0 0 20px;
	margin: 0 0 20px;
	line-height: 20px;
	position: relative;
}

.buttons a {
	display: inline-block;
	margin: 10px 10px 10px 0;
}

.buttons span {
	display:inline-block;
}

.button {
	line-height:20px; /* Added by myself */
	
	border: none;
	color: #fff;
	padding: 10px 17px;
	cursor: pointer;
	outline: 0 none;
	font-size: 13px;
	display: inline-block;
	background: #57692F;
	text-shadow: 1px 1px 2px #000;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.15)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.15) 0%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.15) 0%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.15) 0%,rgba(0,0,0,0.15) 100%); /* IE10+ */
	background-image: linear-gradient(top,  rgba(255,255,255,0.15) 0%,rgba(0,0,0,0.15) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
}

.button:hover, 
.button:active,
.button:focus {
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.25) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.25) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.25) 100%); /* IE10+ */
	background-image: linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.25) 100%); /* W3C */


	outline: 0 none;
}

a.button {
	text-decoration:none;
}
a.button:hover {
	text-decoration:none;
	color:white;
}

/* Button sizes */
.button.small {
	padding: 8px 10px;
	font-size: 11px;
	line-height: 14px;
}

.button.medium {
	padding: 15px 20px;
	font-size: 16px;
}

.button.large {
	padding: 25px 20px;
	font-size: 20px;
}

/* Button colors */

.button.color-2 {
	background-color: #929E78;
}

.button.featured-color-1 {
	background-color: #DD7A2D;
}

.button.featured-color-2 {
	background-color: #F1AC3D;
}

.button.green {
	background-color: #8EB218;
}

.button.blue {
	background-color: #4878AC;
}

.button.yellow {
	background-color: #B7AA10;
}

.button.red {
	background-color: #94211A;
}

.button.grey {
	background-color: #333;
}