<ul class="sidebar_navigation">
	<li><a href="{{ path("ScubeAdminAppearanceBundle_homepage")}}">Configuration</a></li>
	<li><a href="{{ path("ScubeAdminAppearanceBundle_general")}}">General Appearance</a></li>
</ul>