body
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
background-color:#FFF;
margin:0;
}
a img {
	border:none;
}
h1{
text-shadow:0px 1px 1px white;
text-align:center;
font-size:26px;
color:#333;
margin:25px 10px;
}
a{
	color:#568dc5;
}
a:hover{
	color:#4878ac;
}

.page_frame {
	background-color:whiteSmoke;
	width:50%;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
	margin:0 auto;
	padding:10px;
	box-shadow: 0 0 10px #333;
	-moz-box-shadow: 0 0 10px #333;
	-webkit-box-shadow: 0 0 10px #333;
}