<div class="GridButton" >
	{% image '@WidgetsMailboxWidgetBundle/Resources/public/images/icon.png'	%}
	<img src="{{ asset_url }}" alt="Mailbox"/>
	{% endimage %}
	<br />
	<p class="GridButton_title">{% trans %}Mailbox{% endtrans %}</p>
</div>
