
#home_box
{
	min-width:100px;
	min-height:200px;
	background:whiteSmoke;
	border:2px solid #8eb218;
	display:none;
	z-index:190;
	padding-bottom:10px;
}
#home_box h1
{
	margin-top:5px;
	margin-left:60px;
	text-align:left;
}
#home_box a img
{
	height:auto;
	width:auto;
}

#home_box .start_menu{
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
}

#home_box .start_menu .td_top {
	vertical-align:top;
}

.start_menu_btn{
	height:150px;
	width:150px;
	margin: 0 15px;
	margin-top: 15px;
	background: #8EB218;
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 35px;
	vertical-align:middle;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;

	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	-o-box-shadow:0 1px 3px #999;
	box-shadow:0 1px 3px #999;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#999, Direction=180, Strength=3);

	text-shadow: 0 -1px 1px #222;
	position: relative;
	cursor: pointer;
	text-align: center;
}
.start_menu_btn:hover{
	color:white;
}
.start_menu_mini_btn{
	height:75px;
	width:75px;
	background: #8EB218;
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 20px;
	position: relative;
	cursor: pointer;
	text-align: center;
	vertical-align:middle;
}

.red_btn{
background: #94211a;
}
.yellow_btn{
background: #b7aa10;
}
.blue_btn{
background: #4878ac;
}