{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		{% include 'ScubeAdminAppearanceBundle:AdminAppearance:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>Appearance Manager - Theme {{view}}</h1>

		<div class="btn_line">
			<a href="{{ path("ScubeAdminAppearanceBundle_set_current", {'theme':view})}}" class="button green">+ {% trans %}Activate{% endtrans %}</a>
		</div>
		
		
	</td>
</tr>
</table>

</div>

{% endblock %}

