{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		{% include 'ScubeAdminAppearanceBundle:AdminAppearance:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>Appearance Manager</h1>
		
		{% if draft_pending == true %}
			<p class="form_error">Some appearance files are currently in DRAFT. <a href="{{ path("ScubeAdminAppearanceBundle_setonline")}}">Click here to set ONLINE.</a></p>
		{% endif %}
		
		<p>If you want to set DEFAULT appearance files, <a href="{{ path("ScubeAdminAppearanceBundle_setdefault")}}">Click here.</a></p>
		
	</td>
</tr>
</table>

</div>

{% endblock %}

