<div class="GridButton" >
	{% image '@WidgetsMediasWidgetBundle/Resources/public/images/icon.png'	%}
	<img src="{{ asset_url }}" alt="Medias"/>
	{% endimage %}
	<br />
	<p class="GridButton_title">Medias</p>
</div>
