<div class="GridButton" >
	{% image '@WidgetsGoldBookWidgetBundle/Resources/public/images/icon.png'	%}
	<img src="{{ asset_url }}" alt="GoldBook"/>
	{% endimage %}
	<br />
	<p class="GridButton_title">{% trans %}GoldBook{% endtrans %}</p>
</div>
