<li><a href="{{ path("AdminLogsBundle_homepage")}}">Overview</a></li>
<li><a href="{{ path("AdminLogsBundle_prodlogs")}}">Production Logs</a></li>
<li><a href="{{ path("AdminLogsBundle_devlogs")}}">Development Logs</a></li>