<div class="GridButton" openapp="{{path("FriendsBundle_homepage")}}">
	{% image '@ScubeFriendsBundle/Resources/public/images/icon.png'	%}
	<img src="{{ asset_url }}" alt="Friends"/>
	{% endimage %}
	<br />
	<p class="GridButton_title">Friends</p>
</div>